body{
	background: url(../img/login_bg.jpg) ;
	background-size:cover;<!-- Í¼Æ¬À­Éì -->
}

.login_div table{
	margin-top :95px;
	margin-left :487px;
	height: 321px;
	width: 421px;
	background-color: #FFFFFF;
	
}
.button{
	font-weight:bold;
	background-color: #24a0b8;
	width: 113px;
	height: 35px;
	border: 0px;
	color: #FFFFEA;
	
}
 td{color:#999999;
    font-weight:bold;
    height:55px;
	text-align:center;
	vertical-align:middle;
	
}
.input_{
	width:268px;
	border:0px;
	height:36px;
	background: url(../img/input_bg.jpg);
}