body{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.head_div{
	text-align:center;
	width:100%;
	height:242px;
	background: #0084b4;
}
img{
	vertical-align:middle;
}
#block {
    width: 0px;
    height: 100%;
 } 
 
.follow_bar{
	height:60px;
	width:100%;
	background: #ffffff;
}
table{
	color:#657585;
	margin:0 auto; 
}
.follow_bar td{
	width:87px;
	color:#657585;
}

.main{
	width:100%;
	background:#f4f8fb;
}

.main_left{
	float:left;
	width: 316px;
	height:209px;
	background:#f4f8fb; 
}
.main_right{
	float:left;
	width:926px;
	background:#f4f8fb; 
}

.filter{
	cursor:pointer;
	filter:Alpha(Opacity=50);opacity:0.5;-moz-opacity:0.5;
	
}



.user_all{
	border: 1px solid #e4e8eb;
	float:left;
	background-color: #FFFFFF;
	margin:5px 5px 5px 5px;
	height: 196px;
	width: 291px;
}
.user_top{
	background: #0084b4;
	width:291px;
	height:95px;
	text-align:center;
}
.user_top img{
	width: 75px;
	height: 75px;
	vertical-align:middle;
	
	
}
.user_info td{
	height:30px;
	color:#657585;
	font-size: 15px;
	vertical-align:middle;
	text-align: center;
}

input[type='button']{
	font-weight:bold;
	background-color: #24a0b8;
	width: 100px;
	height: 30px;
	border: 0px;
	color: #FFFFFF;
	
}

 
