body{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: #161616;
}
.head_div{
	text-align:center;
	width:100%;
	height:242px;
	background: #0084b4;
}
img{
	
	vertical-align:middle;
}
#block {
    width: 0px;
    height: 100%;
 } 
 
.follow_bar{
	margin-top:5px;
	height:60px;
	width:100%;
	background: #161616;
}
table{
	background: #ffffff;
	color:#657585;
	margin:0 auto; 
}
.follow_bar td{
	width:87px;
	color:#657585;
}

.main{
	width:100%;
	background:#161616;
}

.main_left{
	float:left;
	width: 316px;
	height:209px;
	background:#f4f8fb; 
}
.main_right{
	margin-left:30px;
	float:left;
	width:630px;
	background:#161616; 
}


.twitter{
	width:620px;
	background:red;
}
.blog{
	width:580px;
	margin-top:8px;
	background:#f4f8fb;
	clear:left;
	float:left;
}
 .blog_head{
 
    color:#545454;
    font-family:serif;
	background:#f4f8fb;
	width:580px;
	
}

.blog_headimg{
	float:left;
	margin:5px 5px 5px 5px;
	width:55px;
	height:58px;
	float :left;
	
}
.blog_userInfo{
	
	float:left;
	width:500px;
	height:55px;
	padding-top: 3px;
}
.blog_content{
	padding-left:60px;
	float:left;
	width:520px;
}
.blog_photo img {
	margin:5px 3px 0px 0px;
	
	float:left;
	
}

.comment{
	clear:left;
	float:left;
	margin:10px 10px 10px 56px;
}
a{
	text-decoration: none;
    color:#657585;
}

input[type='button']{
	font-weight:bold;
	background-color: #24a0b8;
	width: 113px;
	height: 35px;
	border: 0px;
	color: #FFFFFF;
	cursor: pointer;
	
}
.comment input[type="text"]{
	float:left;
	height:25px;
	width:300px;
}